@charset "UTF-8";
/* CSS Document Impressum */

.impressum{
	
}

.impressum h1{
font-family: "Blacker Pro Text Light";
color: rgba(255,246,246,1.00);}

.impressum p{
font-family: "Blacker Sans Pro Book";
color: rgba(28,1,1,0.93);}

.impressum a{
font-family: "Blacker Sans Pro Book";
color: rgba(37,208,106,0.82);}

#bg-text{
	background-color: rgba(38, 66, 54, 0.80);
	color: rgba(232,232,232,1.00);
	height: 50rem;
	width: 80vw;
	align-content: center;
	margin-bottom: 5rem;
}

.text-about{
	font-family: "Blacker Sans Pro";
	text-align: left;
	line-height: 140%;
	background-color: rgba(38, 66, 54, 0.80);;
	padding: 2rem;}